body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "IBM Plex Serif", serif;
  background-color: aliceblue;
}

.clock-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: rgb(255, 107, 166);
  margin-top: 20px;
}

.number {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.number-1 {
  transform: rotate(30deg);
}

.number-2 {
  transform: rotate(60deg);
}

.number-3 {
  transform: rotate(90deg);
}

.number-4 {
  transform: rotate(120deg);
}

.number-5 {
  transform: rotate(150deg);
}

.number-6 {
  transform: rotate(180deg);
}

.number-7 {
  transform: rotate(210deg);
}

.number-8 {
  transform: rotate(240deg);
}

.number-9 {
  transform: rotate(270deg);
}

.number-10 {
  transform: rotate(300deg);
}

.number-11 {
  transform: rotate(330deg);
}

.number-12 {
  transform: rotate(0deg);
}

.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 2px 2px 0 0;
}

.minute-hand {
  width: 4px;
  height: 100px;
  background-color: #282828;
  transform: translateX(-50%) rotate(0deg);
  z-index: 2;
}

.second-hand {
  width: 2px;
  height: 120px;
  background-color: #282828;
  transform: translateX(-50%) rotate(0deg);
  z-index: 1;
}

.control {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

button {
  padding: 10px 10px;
  background-color: bisque;
  color: black;
  border: none;
  border-radius: 5px;
  font-family: "IBM Plex Serif", serif;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: rgb(254, 207, 145);
}
