body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "IBM Plex Serif", serif;
  background-color: aliceblue;
}

.clock-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: rgb(255, 104, 179);
  margin-top: 20px;
}

.number {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

.number-12 {
  transform: translate(-50%, -50%) translateY(-130px);
}

.number-1 {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-130px)
    rotate(-30deg);
}

.number-2 {
  transform: translate(-50%, -50%) rotate(60deg) translateY(-130px)
    rotate(-60deg);
}

.number-3 {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-130px)
    rotate(-90deg);
}

.number-4 {
  transform: translate(-50%, -50%) rotate(120deg) translateY(-130px)
    rotate(-120deg);
}

.number-5 {
  transform: translate(-50%, -50%) rotate(150deg) translateY(-130px)
    rotate(-150deg);
}

.number-6 {
  transform: translate(-50%, -50%) translateY(130px);
}

.number-7 {
  transform: translate(-50%, -50%) rotate(210deg) translateY(-130px)
    rotate(-210deg);
}

.number-8 {
  transform: translate(-50%, -50%) rotate(240deg) translateY(-130px)
    rotate(-240deg);
}

.number-9 {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-130px)
    rotate(-270deg);
}

.number-10 {
  transform: translate(-50%, -50%) rotate(300deg) translateY(-130px)
    rotate(-300deg);
}

.number-11 {
  transform: translate(-50%, -50%) rotate(330deg) translateY(-130px)
    rotate(-330deg);
}

.center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  border-radius: 2px 2px 0 0;
}

.minute-hand {
  width: 4px;
  height: 90px;
  background-color: #282828;
  transform: translateX(-50%) rotate(0deg);
  z-index: 2;
}

.second-hand {
  width: 2px;
  height: 110px;
  background-color: #282828;
  transform: translateX(-50%) rotate(0deg);
  z-index: 1;
}

.control {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

button {
  padding: 10px 10px;
  background-color: bisque;
  color: black;
  border: none;
  border-radius: 5px;
  font-family: "IBM Plex Serif", serif;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: rgb(254, 207, 145);
}
